{% extends "base.html" %}
{% load static %}

{% block current %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:home' %}">ホーム</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'saki:start_game' %}">Start Game<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:search_stats' %}">Stats</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:comeback' %}">ComeBack</a>
</li>
{% endblock %}

{% block contents %}

<h3>
    {{kyoku_Object.bakaze}}{{kyoku_Object.kyoku}}局
    <small>
        {{kyoku_Object.honba}} 本場
        <small> リーチ棒 × {{kyoku_Object.riichi_bou}} </small>
    </small>
</h3>

<!-- プレイヤーの得点状況の表示，及びリーチ状況の入力 -->
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">プレイヤー</th>
        <th scope="col">点数</th>
        <th scope="col">リーチ</th>
    </tr>
    </thead>

    <tbody>
    <tr class="table-secondary">
        <th scope="row">{{game_Object.east}}</th>
        <td>{{game_Object.east_point}}</td>
        <td>
            <div class="checkbox">
                <input type="checkbox" value="">
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">{{game_Object.south}}</th>
        <td>{{game_Object.south_point}}</td>
        <td>
            <div class="checkbox">
                <input type="checkbox" value="">
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">{{game_Object.west}}</th>
        <td>{{game_Object.west_point}}</td>
        <td>
            <div class="checkbox">
                <input type="checkbox" value="">
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row">{{game_Object.north}}</th>
        <td>{{game_Object.north_point}}</td>
        <td>
            <div class="checkbox">
                <input type="checkbox" value="">
            </div>
        </td>
    </tr>
    </tbody>
</table>

<!-- 上がりタイプのアコーディオン処理 -->
<div id="accordion_menu">
    <a data-toggle="collapse" href="#menu00" aria-controls="#menu00" aria-expanded="false">
        <div class="btn-group btn-group-vertical btn-group btn-block">
            <label class="btn btn-outline-secondary">
                ロン
            </label>
        </div>
    </a>
    <div id="menu00" class="collapse" data-parent="#accordion_menu">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form_Ron.houju_player}} から {{form_Ron.agari_player}} へ {{form_Ron.child_point}} </br>
            {{form_Ron.agari_player}} へ {{form_Ron.parent_point}} </br>
            <input type="hidden" value="ron" name="agari_type">
            <input type="hidden" value={{game_Object.id}} name="game_id">
            <input type="hidden" value={{kyoku_Object.id}} name="kyoku_id">
            <input type="hidden" value={{kyoku_Object.kyoku}} name="kyoku">
            <input type="hidden" value={{kyoku_Object.honba}} name="honba">
            <input type="hidden" value={{kyoku_Object.riichi_bou}} name="riichi_bou">
            <input type="submit" value="確定">
            <p></p>
        </form>
    </div>

    <a data-toggle="collapse" href="#menu01" aria-controls="#menu01" aria-expanded="false">
        <div class="btn-group btn-group-vertical btn-group btn-block">
            <label class="btn btn-outline-secondary">
                ツモ
            </label>
        </div>
    </a>
    <div id="menu01" class="collapse" data-parent="#accordion_menu">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form_Tsumo.agari_player}} が {{form_Tsumo.child_point}} </br>
            {{form_Tsumo.agari_player}} が {{form_Tsumo.parent_point}} オール </br>
            <input type="hidden" value="tsumo" name="agari_type">
            <input type="hidden" value={{game_Object.id}} name="game_id">
            <input type="hidden" value={{kyoku_Object.id}} name="kyoku_id">
            <input type="hidden" value={{kyoku_Object.kyoku}} name="kyoku">
            <input type="hidden" value={{kyoku_Object.honba}} name="honba">
            <input type="hidden" value={{kyoku_Object.riichi_bou}} name="riichi_bou">
            <input type="submit" value="確定">
            <p></p>
        </form>
    </div>


    <a data-toggle="collapse" href="#menu02" aria-controls="#menu02" aria-expanded="false">
        <div class="btn-group btn-group-vertical btn-group btn-block">
            <label class="btn btn-outline-secondary">
                流局
            </label>
        </div>
    </a>

    <div id="menu02" class="collapse" data-parent="#accordion_menu">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <div class="btn-group btn-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary disabled">
                        聴牌
                    </label>
                    <label class="btn btn-outline-secondary">
                        {{game_Object.east}}
                    </label>
                    <label class="btn btn-outline-secondary">
                        {{game_Object.south}}
                    </label>
                    <label class="btn btn-outline-secondary">
                        {{game_Object.west}}
                    </label>
                    <label class="btn btn-outline-secondary">
                        {{game_Object.north}}
                    </label>
                </div>
            </div>
            {{form_Ryukyoku.unique}}
            <input type="hidden" value="ryukyoku" name="agari_type">
            <input type="hidden" value={{game_Object.id}} name="game_id">
            <input type="hidden" value={{kyoku_Object.id}} name="kyoku_id">
            <input type="hidden" value={{kyoku_Object.kyoku}} name="kyoku">
            <input type="hidden" value={{kyoku_Object.honba}} name="honba">
            <input type="hidden" value={{kyoku_Object.riichi_bou}} name="riichi_bou">
            <input type="submit" value="確定">
            <p></p>
        </form>
    </div>


    <a data-toggle="collapse" href="#menu03" aria-controls="#menu03" aria-expanded="false">
        <div class="btn-group btn-group-vertical btn-group btn-block">
            <label class="btn btn-outline-secondary">
                チョンボ
            </label>
        </div>
    </a>

    <div id="menu03" class="collapse" data-parent="#accordion_menu">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <div class="btn-group btn-block" data-toggle="buttons">
                    <label class="btn btn-outline-secondary col-sm-3 col-xs-6">
                        {{game_Object.east}}
                    </label>
                    <label class="btn btn-outline-secondary col-sm-3 col-xs-6">
                        {{game_Object.south}}
                    </label>
                    <label class="btn btn-outline-secondary col-sm-3 col-xs-6">
                        {{game_Object.west}}
                    </label>
                    <label class="btn btn-outline-secondary col-sm-3 col-xs-6">
                        {{game_Object.north}}
                    </label>
                </div>
            </div>
            <input type="hidden" value="chonbo" name="agari_type">
            <input type="hidden" value={{game_Object.id}} name="game_id">
            <input type="hidden" value={{kyoku_Object.id}} name="kyoku_id">
            <input type="hidden" value={{kyoku_Object.kyoku}} name="kyoku">
            <input type="hidden" value={{kyoku_Object.honba}} name="honba">
            <input type="hidden" value={{kyoku_Object.riichi_bou}} name="riichi_bou">
            <input type="submit" value="確定">
        </form>
    </div>
</div>

{% endblock contents%}
{% block script %}
<script type="text/javascript" src="{% static 'js/enter_kyoku.js' %}"></script>
<style>
        tr{
            text-align: center;
        }
</style>
{% endblock %}
