{% extends "base.html" %}
{% block current %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:home' %}">ホーム</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:start_game' %}">Start Game</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'saki:search_stats' %}">Stats<span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block contents %}
<h2>
    プレイヤ検索
</h2>

<form action="show_stats" method="post">
    {% csrf_token %}
    {{ form.target_player }}

    <input type="submit" value="送信">
</form>
{% endblock contents %}