{% extends "base.html" %}

{% block current %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:home' %}">ホーム</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'saki:start_game' %}">Start Game<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'saki:search_stats' %}">Stats</a>
</li>
{% endblock %}

{% block contents %}
  <hr>
  <form method="post" action="{% url 'saki:enter_kyoku' %}">
    {% csrf_token %}
    <label>{{form.game_type.label}}{{form.game_type}}</label><br>

      <label>プレイヤの名前</label><br>
    <label>{{ form.east.label }} {{ form.east }}</label><br>
      <label>{{ form.south.label }} {{ form.south }}</label><br>
      <label>{{ form.west.label }} {{ form.west }}</label><br>
      <label>{{ form.north.label }} {{ form.north }}</label><br>

    <input type="submit" value="送信">
  </form>
{% endblock contents%}